
/* Your CSS Code here. */
.box{
	width:100px;
	height:100px;
	font-size:40Px;
}
#box-1{
	background-color:green;
	padding:10
}
#box-2{
	background-color:red;
}
#box-3{
	background-color:blue;
}
#box-4{
	background-color:yellow;
}
.holder{
	display:flex;
	justify-content: center;
}